<%
# app/views/integrations/servicetitan/edit.html.erb
#
# Example:
# 	render partial: "integrations/servicetitan/edit"
#
# Instance Variables:
# 	(req) @client_api_integration: (ClientApiIntegration)
#
# Local Variables:
#   none
#
-%>
<div class="page">
  <header class="page-cover">
    <div class="text-center">
      <div><%= image_tag('integrations/servicetitan/logo.png', { class: 'img-fluid rounded-0', style: 'max-width:500px;max-height:110px;' }) -%></div>
      <h2 class="h4 mt-2 mb-0" id="show_user_fullname">ServiceTitan Integration</h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
      </div>
      <!-- <p class="text-muted"> Project Manager @CreativeDivision </p> -->
      <!-- <p> Huge fan of HTML, CSS and Javascript. Web design and open source lover. </p> -->
    </div>
    <div class="cover-controls cover-controls-bottom">
      <%= link_to '<i class="fa fa-question"></i>'.html_safe, integrations_servicetitan_instructions_path, { class: 'btn btn-sm btn-icon btn-secondary', id: 'button_help', remote: true } %>
      <!-- <a href="#" class="btn btn-light" data-toggle="modal" data-target="#followersModal">2,159 Followers</a> <a href="#" class="btn btn-light" data-toggle="modal" data-target="#followingModal">136 Following</a> -->
    </div>
  </header>

  <nav class="page-navs">
    <div class="nav-scroller">
      <div class="nav nav-center nav-tabs">
        <%= link_to 'Connection', integrations_servicetitan_connection_path, { class: 'nav-link', id: 'link_connection', remote: true } %>
        <%= link_to 'Events', integrations_servicetitan_events_path, { class: 'nav-link', id: 'link_job_events', data: { turbo: true, turbo_stream: true } } %>
        <%= link_to 'Technicians', integrations_servicetitan_employees_path, { class: 'nav-link', id: 'link_employees', remote: true } %>
        <%= link_to 'Custom Fields', edit_integrations_servicetitan_custom_fields_path, { class: 'nav-link', id: 'link_custom_fields', remote: true } %>
        <%= link_to 'Auto Update', integrations_servicetitan_balance_update_path, {
              class: 'nav-link',
              id:    'link_balance_update',
              data:  {
                turbo:        true,
                turbo_stream: true
              }
            } %>
        <%= link_to 'Push Contacts', integrations_servicetitan_push_contacts_path, { class: 'nav-link', id: 'link_push_leads', remote: true } %>
        <%= link_to 'Notes', integrations_servicetitan_notes_path, { class: 'nav-link', id: 'link_notes', remote: true } %>
        <%= link_to 'Import Contacts', integrations_servicetitan_import_path, {
              class: 'nav-link',
              id:    'link_import_contacts',
              data:  {
                turbo:        true,
                turbo_stream: true
              }
            } %>
        <%= link_to 'Import Estimates', integrations_servicetitan_import_estimates_path, { class: 'nav-link', id: 'link_import_estimates', remote: true } %>
        <%= link_to 'Reports', integrations_servicetitan_reports_path, {
              class: 'nav-link',
              id:    'link_reports',
              data:  {
                turbo:        true,
                turbo_stream: true
              }
            } %>
      </div>
    </div>
  </nav>

  <div class="page-inner">
    <header class="page-title-bar" id="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <%= link_to(integrations_servicetitan_path, { class: 'nav-link', remote: true }) do %>
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview
            <% end %>
          </li>
        </ol>
      </nav>
    </header>

    <div class="page-section" id="integration_page_section">
      <% if local_assigns.dig(:partial_to_show).to_s.present? && @client_api_integration.is_a?(ClientApiIntegration) %>
        <% presenter = Integrations::Servicetitan::EventsPresenter.new(@client_api_integration) %>
        <%= render partial: partial_to_show, locals: { presenter: } %>
      <% else %>
        <%= render partial: 'integrations/servicetitan/overview' %>
      <% end %>
    </div>
  </div>
</div>
