<%
  # app/views/integrations/sendjim/v3/connections/_edit.html.erb
  #
  # Example:
  #   render partial: "integrations/sendjim/v3/connections/edit"
  #
  # Instance Variables:
  #   (req) @client_api_integration: (ClientApiIntegration)
  #
  # Local Variables:
  #   (opt) presenter: (Presenter)
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Sendjim::V3::Presenter.new(client_api_integration: @client_api_integration)
-%>
<%= render partial: 'layouts/alerts', locals: { models: [presenter.client_api_integration] } %>
<div class="card card-fluid card-margins-mobile">
  <h6 class="card-header">Connect <%= I18n.t('tenant.name') -%> to SendJim</h6>
  <div class="card-body">

    <% if presenter.connection_valid? %>
      <%= bootstrap_info_field(
            info: '<i class="fa fa-check text-success mr-2"></i>SendJim connection is valid.',
            row:  { columns: [0, 12] }
          ) %>
    <% else %>
      <%= bootstrap_info_field(
            info: '<i class="fa fa-times text-danger mr-2"></i>SendJim connection must be refreshed. Click "Connect to Sendjim" to refresh token.',
            row:  { columns: [0, 12] }
          ) %>
    <% end %>

    <div class="mt-auto">
      <div class="form-actions">
        <% if presenter.connection_valid? %>
          <%= link_to 'Delete SendJim Connection', integrations_sendjim_v3_connection_path, method: :delete, remote: true, class: 'btn btn-info ml-auto' %>
        <% else %>
          <%= link_to 'Connect to SendJim', integrations_sendjim_v3_auth_path, method: :post, class: 'btn btn-info ml-auto' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('.nav-link').removeClass('active');
    $('#link_connections').addClass('active');
    $('#breadcrumb').show();
  });
</script>
