<%
# app/views/users/two_factor/attempt.html.erb
#
# Devise Login
#
# Example:
# 	render partial: 'users/two_factor/attempt'
#
# Required Instance Variables:
# 	none
#
# Required Local Variables:
#   none
#
-%>
<%= render partial: 'devise/shared/header' %>

<%= form_for @user, url: attempt_user_two_factor_path, builder: LooperFormBuilder, html: { class: 'auth-form-noborder needs-validation mb-5', novalidate: true } do |f| %>
  <h4 class="text-left pb-3">2-step authentication code</h4>

  <% unless flash[:notice].blank? %>
    <div class="text-info">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% unless flash[:alert].blank? %>
    <div class="text-danger">
      <%= I18n.t('devise.failure.not_found_in_database') %>
    </div>
  <% end %>

  <p class="text-left">A code was sent to your <%= session[:otp_method] == 'sms' ? "phone at xxx-xxx-#{@user.phone.last(4)}" : 'email address' %>.</p>

  <%= f.text_field :otp_attempt, {
        row:          { columns: [3, 9] },
        label:        { title: 'Email' },
        html_options: { id: 'input_otp_attempt', placeholder: 'Code', minlength: 6, autocomplete: 'one-time-code', required: true, autofocus: true }
      } %>
  <%= bootstrap_info_field(
        info:         link_to('Resend code', method_user_two_factor_path, { class: 'link' }).to_s,
        info_wrapper: { class: 'mb-0' },
        row:          { class: 'mb-0', columns: [3, 9] },
        col:          { class: 'mt-0 mb-0' },
        label:        { class: 'mt-0 mb-0' }
      ) %>

  <%= f.submit_buttons(
        buttons: [{ title: 'Verify' }]
      ) %>
<% end %>

<script>
  $(function() {
    if (typeof window.ReactNativeWebView !== 'undefined') {
      window.ReactNativeWebView.postMessage('user_login');
    }
  });
</script>
