<%
  # app/views/integrations/pcrichard/v1/show.html.erb
  #
  # Example:
  #   render partial: 'integrations/pcrichard/v1/show', locals: { presenter: Presenter }
  #
  # Instance Variables:
  #   (req) @client_api_integrations: (ClientApiIntegrations)
  #
  # Local Variables:
  #   (opt) presenter: Presenter
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Pcrichard::V1::Presenter.new(client_api_integration: @client_api_integration)
-%>
<div class="page">
  <header class="page-cover">
    <div class="text-center">
      <div><%= image_tag('integrations/pcrichard/logo-red.svg', { class: 'img-fluid rounded-0', style: 'max-width:500px;max-height:110px;' }) -%></div>
      <h2 class="h4 mt-2 mb-0" id="show_user_fullname">PC Richard Integration</h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
      </div>
    </div>
    <div class="cover-controls cover-controls-bottom">
      <%= link_to '<i class="fa fa-question"></i>'.html_safe, integrations_pcrichard_v1_instructions_path, { class: 'btn btn-sm btn-icon btn-secondary', id: 'button_help', remote: true } %>
    </div>
  </header>

  <nav class="page-navs">
    <div class="nav-scroller">
      <div class="nav nav-center nav-tabs">
        <%= link_to 'Connection', edit_integrations_pcrichard_v1_connections_path, { class: 'nav-link', id: 'link_connections', remote: true } %>
        <%= link_to 'Leads', edit_integrations_pcrichard_v1_leads_path, { class: 'nav-link', id: 'link_leads', remote: true } %>
        <%= link_to 'Orders', edit_integrations_pcrichard_v1_orders_path, { class: 'nav-link', id: 'link_orders', remote: true } %>
        <%= link_to 'Custom Fields', edit_integrations_pcrichard_v1_custom_fields_path, { class: 'nav-link', id: 'link_custom_fields', remote: true } %>
        <%= link_to 'Models', integrations_pcrichard_v1_models_path, { class: 'nav-link', id: 'link_models', remote: true } %>
      </div>
    </div>
  </nav>

  <div class="page-inner">
    <header class="page-title-bar" id="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <%= link_to(integrations_pcrichard_v1_path, { class: 'nav-link', remote: true }) do %>
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview
            <% end %>
          </li>
        </ol>
      </nav>
    </header>

    <div class="page-section" id="integration_page_section">
      <%= render partial: 'integrations/pcrichard/v1/overview', locals: { presenter: } %>
    </div>
  </div>
</div>
