<%
  # app/views/clients/phone_numbers/_twnumber.html.erb
  #
  # Example:
  #   render partial: 'clients/phone_numbers/twnumber', collection: Twnumbers, as: :twnumber, locals: { client_presenter: ClientPresenter }
  #
  # Instance Variables:
  #   (req) @client: (Client)
  #
  # Local Variables:
  #   (req) twnumber:  (Twnumber)
  #   (opt) presenter: (Presenter)
  #
  presenter = local_assigns.dig(:presenter) || Clients::PhoneNumbers::Presenter.new(client: @client)
-%>
<tr>
  <td class="px-1 align-middle" style="width: 1.5rem">
    <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="collapse" data-target="#twnumber_<%= twnumber.id -%>">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
  </td>
  <td class="text-left align-middle" colspan="2" id="td_twnumber_name_<%= twnumber.id -%>">
    <button type="button" class="btn" data-toggle="collapse" data-target="#twnumber_<%= twnumber.id -%>">
      <%= twnumber.name -%>
    </button>
  </td>
  <td class="align-left align-middle"> <%= number_to_phone(twnumber.phonenumber) -%> </td>
  <td class="align-left align-middle" id="td_twnumber_user_<%= twnumber.id -%>"> <%= twnumber.def_user_name -%> </td>
  <td class="align-left align-middle"> <%= Friendly.new.date(twnumber.created_at, presenter.client.time_zone, true) -%> </td>
  <td class="text-right align-middle" id="twnumber_status_<%= twnumber.id -%>">
    <%= render partial: 'clients/phone_numbers/status', locals: { twnumber: } %>
  </td>
</tr>

<tr class="row-details bg-light collapse" id="twnumber_<%= twnumber.id -%>">
  <!-- Twnumber -->
</tr>

<script>
  $(function() {
    $(document).off('show.bs.collapse', '#twnumber_<%= twnumber.id -%>');
    $(document).on('show.bs.collapse', '#twnumber_<%= twnumber.id -%>', function (e) {
      $.ajax({
        type: 'GET',
        dataType: 'script',
        url: '<%= edit_client_phone_number_path(presenter.client, twnumber) -%>'
      })
    });

    $(document).off('click', '#button_delete_twnumber_<%= twnumber.id -%>');
    $(document).on('click', '#button_delete_twnumber_<%= twnumber.id -%>', function(e) {
      e.preventDefault();

      ChiirpAlert({
        'body':'Deleting "<%= twnumber.name -%>" can NOT be un-done. Is it your intention to give up this phone number?',
        'buttons':<%= raw([{ label: '<i class="fa fa-thumbs-down"></i> No, Wait!', id: 'button_no_wait' }, { label: '<i class="fa fa-thumbs-up"></i> Yup, Dump it!', id: "button_dump_it_#{twnumber.id}" }].to_json) -%>,
        'type':'danger',
        'persistent':true
      });

      $(document).off('click', '#button_dump_it_<%= twnumber.id -%>');
      $(document).on('click', '#button_dump_it_<%= twnumber.id -%>', function(e) {
        $.ajax({
          type: 'DELETE',
          dataType: 'script',
          url: '<%= client_phone_number_path(presenter.client.id, twnumber.id) -%>'
        });
      });
    });
  });
</script>
