<%
  # app/views/integrations/facebook/_index.html.erb
  #
  # Example:
  #   render partial: "integrations/facebook/index"
  #
  # Instance Variables:
  #   (req) @user_api_integration: (UserApiIntegration)
  #
  # Local Variables:
  #   none
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Facebook::Presenter.new(user_api_integration: @user_api_integration)
-%>
<%= render partial: 'layouts/alerts', locals: { models: [presenter.user_api_integration_leads] } %>
<div class="card card-fluid card-margins-mobile">
  <h6 class="card-header">Facebook Forms</h6>
  <div class="card-body">

    <% if presenter.user_api_integration.users.present? %>
      <div id="users_accordion" class="card-expansion">

        <% presenter.user_api_integration.users.map(&:deep_symbolize_keys).each do |user| %>
          <div class="card card-expansion-item">
            <div class="card-header border-0" id="user_header_id_<%= user[:id] %>">
              <button class="btn btn-reset collapsed prevent-default" data-toggle="collapse" data-target="#user_id_<%= user[:id] %>" aria-expanded="false" aria-controls="user_id_<%= user[:id] %>">
                <span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span>
                <span>Facebook User: <%= user[:name] -%></span>
              </button>
            </div>
            <div class="card-body collapse user_forms p-3" id="user_id_<%= user[:id] %>" aria-labelledby="user_header_id_<%= user[:id] %>" data-parent="#users_accordion">
              <div class="mt-3 text-center" id="user_id_<%= user[:id] %>_spinner">
                <div><%= image_tag "tenant/#{I18n.t('tenant.id')}/logo.svg", class: 'spinning-logo' %></div>
                <div class="ml-3 pb-3">Loading Facebook Forms...</div>
              </div>
              <div id="user_id_<%= user[:id] %>_pages"></div>
            </div>
          </div>
        <% end %>

      </div>
    <% else %>
      <div>Forms not found. Return to Connection and "Login with Facebook" to refresh connection.</div>
    <% end %>

  </div>
</div>

<script>
  $(function () {
    $('.nav-link').removeClass('active');
    $('#link_forms').addClass('active');
    $('#breadcrumb').show();

    $(document).off('show.bs.collapse', '.user_forms');
    $(document).on('show.bs.collapse', '.user_forms', function (e) {
      var user_id = e.target.id.replace('user_id_', '');

      $('#user_id_' + user_id + '_spinner').show();
      $('#user_id_' + user_id + '_pages').hide();

      if ($(this).is(e.target)) {
        $.ajax({
          type: 'GET',
          dataType: 'script',
          url: '<%= integrations_facebook_leads_forms_path -%>',
          data: { user_id: user_id }
        })
      }
    });
  });
</script>
