<%
  # app/views/campaigns/contact/_index_content.html.erb
  #
  # Example:
  #   render partial: 'campaigns/contact/index_content'
  #
  # Instance Variables:
  #   @contact: (Contact)
  #
  # Local Variables:
  #   none
  #
  presenter = CampaignsPresenter.new(contact: @contact)
-%>
<%= form_tag apply_campaign_path(presenter.contact), { builder: LooperFormBuilder, remote: true, method: :post } do %>
  <%= bootstrap_select_tag_campaign(
        client:  presenter.client,
        field:   'campaign_id',
        row:     { columns: [2, 10] },
        label:   { title: 'Campaign' },
        options: { active_only: true }
      ) %>
  <%= bootstrap_calendar_field(
        field:        'run_at',
        value:        Time.current.in_time_zone(current_user.client.time_zone).strftime('%m/%d/%Y %H:%M %p'),
        row:          { columns: [2, 10] },
        label:        { title: 'When?' },
        html_options: { id: 'contacts-calendar-string', required: true },
        flatpickr:    { include_time: true, mode: 'single', min_date: Time.current.in_time_zone(current_user.client.time_zone).strftime('%m/%d/%Y %H:%M %p') },
        messages:     { note: 'A scheduled time must be chosen.' }
      ) %>

  <%= bootstrap_submit_buttons(
        buttons: [{ title: 'Start Campaign', disable_with: 'Applying Campaign' }]
      ) %>
<% end %>

<% if presenter.contact_campaigns.any? %>
  <div class="table-responsive">
    <table class="table">

      <thead>
        <tr>
          <th colspan="3" style="min-width: 240px"> Campaign </th>
          <th> Created </th>
          <th> Status </th>
          <th style="width:100px; min-width:100px;"></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'campaigns/contact/campaign', collection: presenter.contact_campaigns_future, as: :future_campaign, locals: { future: true, presenter: } %>
        <%= render partial: 'campaigns/contact/campaign', collection: presenter.contact_campaigns, as: :contact_campaign, locals: { presenter: } %>
      </tbody>
    </table>
  </div>
<% end %>
