<%
  # app/views/clients/task_actions/_edit_deadline.html.erb
  #
  # Example:
  #   render partial: 'clients/task_actions/edit_deadline', locals: { client_presenter: ClientPresenter }
  #
  # Required Instance Variables:
  #   @client: (Client)
  #
  # Required Local Variables:
  #   none
  #
  # Optional Local Variables:
  #   client_presenter: (Presenter)
  #
  cp = local_assigns.dig(:client_presenter) || ClientPresenter.new(client: @client)
-%>
<tr>
  <td class="px-1 align-middle" style="width: 1.5rem">
    <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="collapse" data-target="#task_actions_deadline">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
  </td>
  <td class="text-left align-middle" id="td_task_deadline_name">Task Deadline</td>
  <td class="text-left align-middle" id="td_task_action_deadline_campaign"> <%= cp.deadline_campaign.name -%> </td>
  <td class="text-left align-middle" id="td_task_action_deadline_group"> <%= cp.deadline_group.name -%> </td>
  <td class="text-left align-middle" id="td_task_action_deadline_tag"> <%= cp.deadline_tag.name -%> </td>
  <td class="text-left align-middle" id="td_task_action_deadline_tag"> <%= cp.deadline_stage.name -%> </td>
  <td class="text-left align-middle" id="td_task_action_deadline_tag"> <%= cp.deadline_stop_campaigns.join(', ') -%> </td>
  <td class="text-right align-middle">
    <%= button_tag('',
                   class: 'btn btn-sm btn-icon btn-secondary fa fa-pencil-alt',
                   type:  'button',
                   data:  {
                     toggle: 'collapse',
                     target: '#task_actions_deadline'
                   }) %>
  </td>
</tr>

<tr class="row-details bg-light collapse" id="task_actions_deadline">
  <td colspan="8">
    <div class="row">
      <div class="col-md-2 text-center" style="max-width:150px;">
        <h3 class="card-title mb-4">Actions Triggered on Task Deadline</h3>
      </div>

      <div class="col-md-10">

        <%= form_with model: cp.client, url: clients_task_action_path(cp.client.id), builder: LooperFormBuilder, remote: true, html: { class: 'needs-validation card-body d-flex flex-column', id: 'task_action_form_deadline', novalidate: true } do |f| %>
          <%= render partial: 'campaigns/action_fields', locals: {
                client: cp.client,
                campaign: cp.deadline_campaign, campaign_id_field: 'client[task_actions][deadline][campaign_id]',
                group: cp.deadline_group, group_id_field: 'client[task_actions][deadline][group_id]',
                tag: cp.deadline_tag, tag_id_field: 'client[task_actions][deadline][tag_id]',
                stage: cp.deadline_stage, stage_id_field: 'client[task_actions][deadline][stage_id]',
                stop_campaign_ids: cp.deadline_stop_campaign_ids, stop_campaign_ids_field: 'client[task_actions][deadline][stop_campaign_ids]'
              } %>

          <%= f.submit_buttons buttons: [{ title: 'Save Actions', id: 'button_save_deadline', disable_with: 'Saving Actions' }] %>
        <% end %>
      </div>
    </div>
  </td>
</tr>
