<%
# app/views/integrations/five9/show.html.erb
#
# Example:
#   render "integrations/five9/show"
#
# Required Instance Variables:
#   @client_api_integration: ClientApiIntegration
#
# Required Local Variables:
#   none
#
-%>
<div class="page">
  <header class="page-cover">
    <div class="text-center">
      <div><%= image_tag('integrations/five9/logo.svg', { class: 'img-fluid rounded-0', style: 'max-width:500px;max-height:110px;' }) -%></div>
      <h2 class="h4 mt-4 mb-0" id="show_user_fullname">Five9 Integration</h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
      </div>
      <!-- <p class="text-muted"> Project Manager @CreativeDivision </p> -->
      <!-- <p> Huge fan of HTML, CSS and Javascript. Web design and open source lover. </p> -->
    </div>
    <div class="cover-controls cover-controls-bottom">
      <%= link_to '<i class="fa fa-question"></i>'.html_safe, integrations_five9_instructions_path, { class: 'btn btn-sm btn-icon btn-secondary', id: 'button_help', remote: true } %>
      <!-- <a href="#" class="btn btn-light" data-toggle="modal" data-target="#followersModal">2,159 Followers</a> <a href="#" class="btn btn-light" data-toggle="modal" data-target="#followingModal">136 Following</a> -->
    </div>
  </header>

  <nav class="page-navs">
    <div class="nav-scroller">
      <div class="nav nav-center nav-tabs">
        <%= link_to 'Connection', edit_integrations_five9_v12_connections_path, { class: 'nav-link', id: 'link_connection', data: { turbo: true, turbo_stream: true } } %>
        <%= link_to 'Lists', integrations_five9_lists_path, { class: 'nav-link', id: 'link_lists', remote: true } %>
        <%= link_to 'Contact Lists', edit_integrations_five9_contact_lists_path, { class: 'nav-link', id: 'link_contact_lists', remote: true } %>
        <%= link_to 'Dispositions', integrations_five9_dispositions_path, { class: 'nav-link', id: 'link_dispositions', remote: true } %>

        <% if @client_api_integration.client.integrations_allowed.include?('servicetitan') %>
          <%= link_to 'Campaigns', edit_integrations_five9_campaigns_path, { class: 'nav-link', id: 'link_campaigns', remote: true } %>
        <% end %>

        <%= link_to 'Lead Sources', edit_integrations_five9_lead_source_path, { class: 'nav-link', id: 'link_lead_source', remote: true } %>
      </div>
    </div>
  </nav>

  <div class="page-inner">
    <header class="page-title-bar" id="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <%= link_to(integrations_five9_integration_path, { class: 'nav-link', remote: true }) do %>
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview
            <% end %>
          </li>
        </ol>
      </nav>
    </header>

    <div class="page-section" id="integration_page_section">
      <%= render partial: 'integrations/five9/overview' %>
    </div>
  </div>
</div>
