<%
  # app/views/integrations/pcrichard/v1/leads/_edit.html.erb
  #
  # Example:
  #   render partial: 'integrations/pcrichard/v1/leads/edit', locals: ( presenter: Presenter)
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Presenter)
  #
  presenter = local_assigns.dig(:presenter)
-%>
<%= render partial: 'layouts/alerts', locals: { models: [presenter.client_api_integration] } %>
<div class="card-deck-xl card-margins-mobile">
  <div class="card card-fluid ml-0">
    <h6 class="card-header d-flex justify-content-between">
      <span class="my-auto">New Leads from PC Richard</span>
      <span>
      </span>
    </h6>

    <div class="card-body">

      <%= form_tag integrations_pcrichard_v1_leads_path, { builder: LooperFormBuilder, remote: true, method: :patch, html: { class: 'needs-validation', id: 'admin_form', novalidate: true } } do %>
        <%= bootstrap_select_tag(
              field:    'leads[custom_field_assignments][invoice_number]',
              label:    { title: 'PC Richard Invoice Number' },
              options:  { array: presenter.string_custom_fields, selected: presenter.custom_field_invoice_number_id, blank: 'Select a Custom Field' },
              messages: { note: 'Select a Custom Field to save the PC Richard invoice number.' }
            ) %>
        <%= bootstrap_select_tag(
              field:    'leads[custom_field_assignments][requested_at]',
              label:    { title: 'PC Richard Order Request Date' },
              options:  { array: presenter.date_custom_fields, selected: presenter.custom_field_requested_at_id, blank: 'Select a Custom Field' },
              messages: { note: 'Select a Custom Field to save the PC Richard order request date.' }
            ) %>

        <fieldset class="border rounded p-2 mt-3 mb-2">
          <legend class="w-auto mb-0"><h6>When a new PC Richard lead is received...</h6></legend>

          <%= render partial: 'campaigns/action_fields', locals: {
                client: presenter.client,
                campaign_id: presenter.leads_campaign_id, campaign_id_field: 'leads[campaign_id]',
                group_id: presenter.leads_group_id, group_id_field: 'leads[group_id]',
                tag_id: presenter.leads_tag_id, tag_id_field: 'leads[tag_id]',
                stage_id: presenter.leads_stage_id, stage_id_field: 'leads[stage_id]',
                stop_campaign_ids: presenter.leads_stop_campaign_ids, stop_campaign_ids_field: 'leads[stop_campaign_ids]'
              } %>
        </fieldset>

        <fieldset class="border rounded p-2 mt-3 mb-2">
          <legend class="w-auto mb-0"><h6>After product recommendations are sent to PC Richard...</h6></legend>

          <%= render partial: 'campaigns/action_fields', locals: {
                client: presenter.client,
                campaign_id: presenter.after_recommendations_campaign_id, campaign_id_field: 'after_recommendations[campaign_id]',
                group_id: presenter.after_recommendations_group_id, group_id_field: 'after_recommendations[group_id]',
                tag_id: presenter.after_recommendations_tag_id, tag_id_field: 'after_recommendations[tag_id]',
                stage_id: presenter.after_recommendations_stage_id, stage_id_field: 'after_recommendations[stage_id]',
                stop_campaign_ids: presenter.after_recommendations_stop_campaign_ids, stop_campaign_ids_field: 'after_recommendations[stop_campaign_ids]'
              } %>
        </fieldset>

        <%= bootstrap_submit_buttons(
              buttons: [{ title: 'Save Leads Configuration', disable_with: 'Saving Leads Configuration' }]
            ) %>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(function () {
    $('.nav-link').removeClass('active');
    $('#link_leads').addClass('active');
    $('#breadcrumb').show();
  });
</script>
