<tr>
  <td>
    <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="collapse" data-target="#show_raw_post_<%= raw_post.id -%>">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
    <%= raw_post.id %>
  </td>
  <td><%= raw_post.ext_source %></td>
  <td><%= raw_post.ext_id %></td>
  <td><%= Friendly.new.date(raw_post.created_at, raw_post.contact.client.time_zone, false) %> (<%= raw_post.created_at.in_time_zone('America/Denver').strftime('%Y-%m-%d %l:%M:%S %P') %>)</td>
</tr>
<tr class="collapse detail_event" id="show_raw_post_<%= raw_post.id -%>">
  <td colspan="4" class="mt-3 text-center"><%= render partial: 'snippets/spinning_logo', locals: { comment: 'Loading Details' } %></td>
</tr>
