<%
  # app/views/integrations/successware/v202311/push_contacts/_push_contact.html.erb
  #
  # Example:
  #   render partial: 'integrations/successware/v202311/push_contacts/push_contact', collection: Array, as: :push_contact_tag, , locals: { presenter: Integrations::Successware::V202311::PushContactsPresenter }
  #
  # Instance Variables:
  #   (opt) @push_contact: (Hash)
  #
  # Local Variables:
  #   (req) presenter:        (Integrations::Successware::V202311::PushContactsPresenter)
  #   (opt) push_contact_tag: (Hash)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Successware::V202311::PushContactsPresenter)

  presenter.push_contact_tag = local_assigns.dig(:push_contact_tag) || @push_contact_tag
-%>
<tr>
  <td class="px-1 align-middle" style="width: 1.5rem">
    <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="collapse" data-target="#edit_push_contact_tag_<%= presenter.push_contact_tag_id -%>">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
  </td>
  <td class="text-left align-middle" colspan="2">
    <button type="button" class="btn" data-toggle="collapse" data-target="#edit_push_contact_tag_<%= presenter.push_contact_tag_id -%>">
      <%= presenter.push_contact_tag_tag_name -%>
    </button>
  </td>
  <td class="text-left align-middle"><%= presenter.push_contact_tag_customer_type -%></td>
  <td class="text-left align-middle"><%= presenter.push_contact_tag_lead_source_name -%></td>
  <td class="text-right align-middle">
    <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="collapse" data-target="#edit_push_contact_tag_<%= presenter.push_contact_tag_id -%>">
      <span class="collapse-indicator"><i class="fa fa-pencil-alt"></i></span>
    </button>
    <%= link_to '', integrations_successware_v202311_push_contact_path(presenter.push_contact_tag_id), {
          class: 'btn btn-sm btn-icon btn-secondary fa fa-trash-alt push_contact_delete',
          data:  { id: presenter.push_contact_tag_id, name: presenter.push_contact_tag_name }
        } %>
  </td>
</tr>

<tr class="row-details bg-light collapse edit_push_contact_tag" id="edit_push_contact_tag_<%= presenter.push_contact_tag_id -%>">
  <td colspan="11" class="mt-3 text-center">
    <%= render partial: 'snippets/spinning_logo', locals: { comment: 'Loading Tag' } %>
  </td>
</tr>
