<%
  # app/views/integrations/sendgrid/v1/show.html.erb
  #
  # Example:
  #   render partial: 'integrations/sendgrid/v1/show'
  #
  # Instance Variables:
  #   (opt) @user_api_integrations: (UserApiIntegrations)
  #
  # Local Variables:
  #   (opt) presenter: (Integrations::Sendgrid::V1::Presenter)
  #
  if local_assigns.dig(:presenter)
    return unless presenter.is_a?(Integrations::Sendgrid::V1::Presenter)
  else
    return unless @client_api_integration.is_a?(ClientApiIntegration)

    presenter = Integrations::Sendgrid::V1::Presenter.new(client_api_integration: @client_api_integration)
  end
-%>
<div class="page">
  <header class="page-cover">
    <div class="text-center">
      <div><%= image_tag('integrations/sendgrid/v1/logo.png', { class: 'img-fluid rounded-0', style: 'max-width:500px;max-height:110px;' }) -%></div>
      <h2 class="h4 mt-2 mb-0" id="show_user_fullname">SendGrid Integration</h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
      </div>
      <!-- <p class="text-muted"> Project Manager @CreativeDivision </p> -->
      <!-- <p> Huge fan of HTML, CSS and Javascript. Web design and open source lover. </p> -->
    </div>
    <div class="cover-controls cover-controls-bottom">
      <%= link_to '<i class="fa fa-question"></i>'.html_safe, integrations_sendgrid_v1_instructions_path, { class: 'btn btn-sm btn-icon btn-secondary', id: 'button_help', remote: true } %>
    </div>
  </header>

  <nav class="page-navs">
    <div class="nav-scroller">
      <div class="nav nav-center nav-tabs">
        <%= link_to 'API Key', edit_integrations_sendgrid_v1_api_key_path, { class: 'nav-link', id: 'link_api_key', remote: true } %>
        <%= link_to 'Email Addresses', edit_integrations_sendgrid_v1_email_addresses_path, { class: 'nav-link', id: 'link_email_addresses', remote: true } %>
      </div>
    </div>
  </nav>

  <div class="page-inner">
    <header class="page-title-bar" id="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <%= link_to(integrations_sendgrid_v1_path, { class: 'nav-link', remote: true }) do %>
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview
            <% end %>
          </li>
        </ol>
      </nav>
    </header>

    <div class="page-section" id="integration_page_section">
      <%= render partial: 'integrations/sendgrid/v1/overview', locals: { presenter: } %>
    </div>
  </div>
</div>
