<%
# app/views/devise/invitations/new.html.erb
%>
<div class="login-box">
  <div class="login-logo">
    <b>Password!</b>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><%= t 'devise.invitations.new.header' %></p>

      <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post } do |f| %>

        <% resource.class.invite_key_fields.each do |field| -%>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><%= icon('fas', 'lock') -%></span>
            </div>
            <%= f.text_field field, class: 'form-control' %>
          </div>
        <% end -%>
        <div class="row">
          <div class="col-12">
            <%= f.submit t('devise.invitations.new.submit_button'), class: 'btn btn-info btn-block' %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
