<%
  # app/views/integrations/contractorcommerce/v1/_show.html.erb
  #
  # Example:
  #   render partial: 'integrations/contractorcommerce/v1/show', locals: { presenter: Integrations::Contractorcommerce::V1::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (opt) presenter: (Integrations::Contractorcommerce::V1::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Contractorcommerce::V1::Presenter) || (@client_api_integration.is_a?(ClientApiIntegration) && (presenter = Integrations::Contractorcommerce::V1::Presenter.new(client_api_integration: @client_api_integration)))
-%>
<div class="page">
  <header class="page-cover">
    <div class="text-center">
      <div><%= image_tag('integrations/contractorcommerce/logo.png', { class: 'img-fluid rounded-0', style: 'max-width:500px;max-height:110px;' }) -%></div>
      <h2 class="h4 mt-2 mb-0" id="show_user_fullname">Contractor Commerce Integration</h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
      </div>
    </div>
    <div class="cover-controls cover-controls-bottom">
      <%#= link_to '<i class="fa fa-question"></i>'.html_safe, integrations_contractorcommerce_v1_instructions_path, { class: 'btn btn-sm btn-icon btn-secondary', id: 'button_help', remote: true } %>
    </div>
  </header>

  <nav class="page-navs">
    <div class="nav-scroller">
      <div class="nav nav-center nav-tabs">
        <%= link_to 'Connection', edit_integrations_contractorcommerce_v1_connections_path, class: 'nav-link', id: 'link_connections', data: { turbo: true, turbo_stream: true } %>
        <%= link_to 'Events', integrations_contractorcommerce_v1_events_path, class: 'nav-link', id: 'link_webhooks', data: { turbo: true, turbo_stream: true } if presenter.valid_credentials? %>
        <%#= link_to 'Employees', integrations_contractorcommerce_v1_employees_path, { class: 'nav-link', id: 'link_employees', remote: true } if presenter.valid_credentials? %>
        <%#= link_to 'Import Contacts', integrations_contractorcommerce_v1_import_contacts_path, { class: 'nav-link', id: 'link_import_contacts', remote: true } if presenter.valid_credentials? %>
        <%#= link_to 'Push Contacts', edit_integrations_contractorcommerce_v1_push_contacts_path, { class: 'nav-link', id: 'link_push_contacts', remote: true } if presenter.valid_credentials? %>
      </div>
    </div>
  </nav>

  <div class="page-inner">
    <header class="page-title-bar" id="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <%= link_to(integrations_contractorcommerce_v1_path, class: 'nav-link', data: { turbo: true, turbo_stream: true }) do %>
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview
            <% end %>
          </li>
        </ol>
      </nav>
    </header>

    <div class="page-section" id="integration_page_section">
      <% if local_assigns.dig(:partial_to_show).to_s.present? && @client_api_integration.is_a?(ClientApiIntegration) %>
        <%= render partial: partial_to_show, locals: { presenter: } %>
      <% else %>
        <%= render partial: 'integrations/contractorcommerce/v1/overview', locals: { presenter: } %>
      <% end %>
    </div>
  </div>
</div>
