<%
  # app/views/stages/_select_user_dropdown.html.erb
  #
  # Example:
  #   render partial: 'stages/select_user_dropdown', locals: { stages_presenter: StagesPresenter }
  #
  # Required Instance Variables:
  #   none
  #
  # Required Local Variables:
  #   stages_presenter: (StagesPresenter)
  #
  sp = local_assigns.dig(:stages_presenter)
  return unless sp&.client.is_a?(Client) && sp&.user.is_a?(User) && current_user.access_controller?('stages', 'all_contacts', session)
-%>
<div class="dropdown-arrow"></div>
<h6 class="dropdown-header">
  <span>Select 1 or More Users</span>
</h6>
<%= form_with url: stage_parent_user_path(sp.stage_parent.id, 0), builder: LooperFormBuilder, remote: true, method: :patch, class: 'needs-validation', novalidate: true do |f| %>
  <div class="dropdown-header d-flex justify-content-end p-0 pr-3">
    <%= submit_tag('Update', class: 'btn btn-info btn-sm', data: { 'disable-with': 'Updating...' }) %>
  </div>
  <div class="dropdown-divider"></div>
  <div class="dropdown-scroll perfect-scrollbar" style="max-height:344px;">

    <div class="custom-control custom-radio">
      <%= check_box_tag('', 'true', false, {
                          class: 'custom-control-input',
                          id:    'user_all',
                          data:  {
                            user: 'all'
                          }
                        }) %>
      <label class="custom-control-label d-flex justify-content-start" for="user_all">
        <span>All Users</span>
      </label>
    </div>

    <% sp.users.each do |user| %>
      <div class="custom-control custom-radio">
        <%= check_box_tag("users[#{user.id}]", 'true', sp.user_settings.data.dig(:user_ids)&.include?(user.id), {
                            class: 'custom-control-input user',
                            id:    "user_#{user.id}",
                            data:  {
                              user: user.id
                            }
                          }) %>
        <label class="custom-control-label d-flex justify-content-start" for="user_<%= user.id -%>">
          <span><%= user.fullname -%></span>
        </label>
      </div>
    <% end %>
  </div>
<% end %>

<script>
  $(function() {
    $(document).off('click', '#user_all');
    $(document).on('click', '#user_all', function(e) {

      if ($('#user_all').is(':checked')) {
        $('.user').each(function() {
          $(this).prop("checked", true);
        });
      } else {
        $('.user').each(function() {
          $(this).prop("checked", false);
        });
      }
    });

    $(document).off('click', '.user');
    $(document).on('click', '.user', function(e) {
      $('#user_all').prop("checked", false);
    });
  });
</script>
