<%
  # app/views/integrations/outreach/webhooks/_webhook.html.erb
  #
  # Example:
  #   render partial: 'integrations/outreach/webhooks/webhook', collection: Outreach.webhooks, as: :webhook, locals: { presenter: Presenter }
  #
  # Required Instance Variables:
  #   @client_api_integration: ClientApiIntegration
  #
  # Required Local Variables:
  #   webhook: (Hash)
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Outreach::Presenter.new(client_api_integration: @client_api_integration)
-%>
<tr>
  <td class="px-1 align-middle" style="width: 1.5rem">
    <button type="button" class="btn btn-sm btn-icon btn-light" data-toggle="collapse" data-target="#webhook_<%= webhook.dig(:id).to_i -%>">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
  </td>
  <td class="text-left" colspan="2" id="td_webhook_<%= webhook.dig(:id).to_i -%>"><%= "#{webhook.dig(:resource).to_s.capitalize}/#{webhook.dig(:action).to_s.capitalize}" -%></td>
  <%= content_tag(:td, class: 'text-left') { presenter.webhook_campaign&.name.to_s } if presenter.campaigns_allowed %>
  <%= content_tag(:td, class: 'text-left') { presenter.webhook_group&.name.to_s } if presenter.groups_allowed %>
  <td class="text-left"><%= presenter.webhook_tag&.name.to_s -%></td>
  <%= content_tag(:td, class: 'text-left') { presenter.webhook_stage&.name.to_s } if presenter.stages_allowed %>
  <%= content_tag(:td, class: 'text-left') { presenter.webhook_stop_campaigns.join(', ') } if presenter.campaigns_allowed %>
  <td class="text-right">
    <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="collapse" data-target="#webhook_<%= webhook.dig(:id).to_i -%>">
      <span class="collapse-indicator"><i class="fa fa-pencil-alt"></i></span>
    </button>
    <%= link_to '', '#', {
          class: 'btn btn-sm btn-icon btn-secondary fa fa-trash-alt button_delete_webhook',
          style: 'text-decoration: none;',
          data:  { id: webhook.dig(:id).to_i, name: "#{webhook.dig(:resource).to_s.capitalize}/#{webhook.dig(:action).to_s.capitalize}" }
        } %>
  </td>
</tr>

<tr class="row-details bg-light collapse" id="webhook_<%= webhook.dig(:id).to_i -%>">
  <td colspan="<%= 8 - (presenter.campaigns_allowed ? 0 : 1) - (presenter.groups_allowed ? 0 : 1) - (presenter.stages_allowed ? 0 : 1) -%>" class="p-3" id="webhook_edit_<%= webhook.dig(:id).to_i -%>">
    <!-- edit Webhook -->
  </td>
</tr>

<script>
  $(function () {
      $(document).off('show.bs.collapse', '#webhook_<%= webhook.dig(:id).to_i -%>');
      $(document).on('show.bs.collapse', '#webhook_<%= webhook.dig(:id).to_i -%>', function (e) {
        $.ajax({
          type: 'GET',
          dataType: 'script',
          url: '<%= edit_integrations_outreach_webhook_path(webhook.dig(:id).to_i) -%>'
        })
      });
    });
</script>
