<%
  # app/views/campaign_marketplaces/_show.html.erb
  #
  # Example:
  # 	render partial: "campaign_marketplaces/show"
  #
  # Required Instance Variables:
  # 	none
  #
  # Required Local Variables:
  #   none
  #
  image_tag = if @campaign.marketplace_image.attached?
                cl_image_tag(@campaign.marketplace_image.key, { class: 'img-fluid', secure_distribution: I18n.t("tenant.#{Rails.env}.cloudinary_cname"), transformation: [width: 200, height: 200, crop: 'fit'], format: 'png' })
              else
                image_tag("tenant/#{I18n.t('tenant.id')}/logo.svg", { class: 'img-fluid', style: 'max-height:60px;' })
              end
-%>
<div class="row">
  <div class="col-4 text-right">
    <%= image_tag %>
  </div>
  <div class="col-8">
    <h2><%= @campaign.name -%></h2>
    <p><%= @campaign.campaign_share_code.campaign_group_id.to_i.positive? ? 'Campaign Package' : 'Campaign' -%></p>
    <p><%= @campaign.description -%></p>
    <h3><%= @campaign.price.zero? ? 'Free' : number_to_currency(@campaign.price.to_d) -%></h3>
  </div>
</div>
