<%
  # app/views/integrations/fieldroutes/v1/show.html.erb
  #
  # Example:
  # 	render partial: "integrations/fieldroutes/v1/show"
  #
  # Instance Variables:
  # 	(req) @client_api_integration: (ClientApiIntegration)
  #
  # Local Variables:
  #   none
  #
  presenter = Integrations::Fieldroutes::V1::Presenter.new(client_api_integration: @client_api_integration)
-%>
<div class="page">
  <header class="page-cover">
    <div class="text-center">
      <div><%= image_tag('integrations/fieldroutes/logo.svg', { class: 'img-fluid rounded-0', style: 'max-width:500px;max-height:110px;' }) -%></div>
      <h2 class="h4 mt-4 mb-0" id="show_user_fullname">FieldRoutes Integration</h2>
      <div class="my-1">
        <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i> <i class="fa fa-star text-yellow"></i>
      </div>
    </div>
    <div class="cover-controls cover-controls-bottom">
      <%= link_to '<i class="fa fa-question"></i>'.html_safe, integrations_fieldroutes_v1_instructions_path, {
            class: 'btn btn-sm btn-icon btn-secondary',
            id:    'button_help',
            data:  {
              turbo:        true,
              turbo_stream: true
            }
          } %>
    </div>
  </header>

  <nav class="page-navs">
    <div class="nav-scroller">
      <div class="nav nav-center nav-tabs">
        <%= link_to 'Connection', edit_integrations_fieldroutes_v1_connections_path, {
              class: 'nav-link',
              id:    'link_connection',
              data:  {
                turbo:        true,
                turbo_stream: true
              }
            } %>
        <%= link_to 'Events', integrations_fieldroutes_v1_events_path, {
              class: 'nav-link',
              id:    'link_events',
              data:  {
                turbo:        true,
                turbo_stream: true
              }
            } %>
        <%= link_to 'Import Contacts', integrations_fieldroutes_v1_import_contacts_path, {
              class: 'nav-link',
              id:    'link_import_contacts',
              data:  {
                turbo:        true,
                turbo_stream: true
              }
            } %>
      </div>
    </div>
  </nav>

  <div class="page-inner">
    <header class="page-title-bar" id="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <%= link_to integrations_fieldroutes_v1_path, {
                  class: 'nav-link',
                  data:  {
                    turbo:        true,
                    turbo_stream: true
                  }
                } do %>
              <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Overview
            <% end %>
          </li>
        </ol>
      </nav>
    </header>

    <div class="page-section" id="integration_page_section">
      <%= render partial: 'integrations/fieldroutes/v1/integrations/overview', locals: { presenter: } %>
    </div>
  </div>
</div>
