<%
  # app/views/integrations/google/reviews/reviews/_review.html.erb
  #
  # Example:
  #   render partial: 'integrations/google/reviews/reviews/review', collection: google_reviews, as: :review, locals: { presenter: Integrations::Google::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Integrations::Google::Presenter)
  #   (req) review:    (Review)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Google::Presenter)
-%>
<tr>
  <td class="px-1 align-middle" style="width: 1.5rem">
    <button type="button" class="btn btn-sm btn-icon btn-light" data-toggle="collapse" data-target="#review_<%= review.id -%>">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
  </td>
  <td class="text-left" id="td_review_name_<%= review.id -%>">
    <%= review.name -%>
  </td>
  <td class="text-left" id="td_review_contact_id_<%= review.id -%>"><%= review.contact&.fullname || 'Unmatched' -%></td>
  <td class="text-center" id="review_stars_index_<%= review.id -%>"></td>
  <td class="text-center"><%= presenter.client_api_integration.active_locations_names&.dig(review.location) -%></td>
  <td class="text-center"><%= review.comment.present? ? '<i class="fa fa-message text-success"></i>'.html_safe : '' -%></td>
  <td class="text-left"><%= Friendly.new.date((review.target_updated_at || review.updated_at), presenter.client&.time_zone, true) -%></td>
  <td class="text-center"><%= review.reply.present? ? '<i class="fa fa-check text-success"></i>'.html_safe : '' -%></td>
  <td class="text-right">
    <%= if review.contact_id && presenter.client.message_central_allowed
          link_to '', central_path(contact_id: review.contact_id), {
            class: 'btn btn-sm btn-icon btn-secondary fa fa-comments',
            title: 'Message Central',
            data:  {
              toggle:   'tooltip',
              boundary: 'viewport'
            }
          }
        end %>
    <%= button_tag('',
                   class: 'btn btn-sm btn-icon btn-secondary fa fa-pencil-alt',
                   type:  'button',
                   data:  {
                     toggle: 'collapse',
                     target: "#review_#{review.id}"
                   }) %>
  </td>
</tr>

<tr class="row-details bg-light collapse" id="review_<%= review.id -%>" data-id="review_<%= review.id -%>">
  <td colspan="8" id="review_edit_<%= review.id -%>">
    <!-- review -->
  </td>
</tr>

<script>
  $(function() {
    $('#review_<%= review.id -%>').on('show.bs.collapse', function () {
      $.ajax({
        method:   'GET',
        dataType: 'script',
        url:      '<%= edit_integrations_google_reviews_review_url(review.id) -%>'
      });
    });

    displayStars('review_stars_index_<%= review.id -%>', <%= review.star_rating -%>, 20)
  });
</script>
