<%
  # app/views/integrations/successware/v202311/employees/_index.html.erb
  #
  # Example:
  #   render partial: 'integrations/successware/v202311/employees/index', locals: { presenter: Integrations::Successware::V202311::Presenter }
  #
  # Instance Variables:
  #   none
  #
  # Local Variables:
  #   (req) presenter: (Integrations::Successware::V202311::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(Integrations::Successware::V202311::Presenter)
-%>
<%= render partial: 'layouts/alerts', locals: { models: [presenter.client_api_integration] } %>
<div class="card-deck-xl card-margins-mobile">
  <div class="card card-fluid ml-0">
    <h6 class="card-header d-flex justify-content-between">
      <span class="my-auto">Successware Employee Links</span>
      <span>
      </span>
    </h6>

    <div class="card-body">

      <% if presenter.valid_credentials? %>
        <%= form_with model: presenter.client_api_integration, url: integrations_successware_v202311_employees_path, builder: LooperFormBuilder, remote: true, method: :put, class: 'needs-validation', novalidate: true do |f| %>

          <table class="table table-no-bordered table-striped">
            <thead>
              <tr>
                <th>Successware Employee</th>
                <th><%= I18n.t('tenant.name') -%> User Assignment</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'integrations/successware/v202311/employees/employee', collection: presenter.successware_employees, as: :employee, locals: { presenter: } %>
            </tbody>
          </table>

          <%= f.submit_buttons buttons: [{ title: 'Save Users', disable_with: 'Saving Users' }] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('.nav-link').removeClass('active');
    $('#link_employees').addClass('active');
    $('#breadcrumb').show();
  });
</script>
