<%
  # app/views/my_contacts/search/_tags.html.erb
  #
  # Example:
  #   render partial: 'my_contacts/search/tags', locals: { presenter: MyContacts::Presenter }
  #
  # Instance Variables:
  #   (req) @user_setting: (Users::Setting)
  #
  # Local Variables:
  #   (opt) collapsed: (Boolean)
  #   (req) presenter: (MyContacts::Presenter)
  #
  return unless local_assigns.dig(:presenter).is_a?(MyContacts::Presenter)
-%>
<tr>
  <td class="px-1 align-middle" style="width: 1.5rem">
    <button type="button" class="btn btn-sm btn-icon btn-light" data-toggle="collapse" data-target="#search_tags">
      <span class="collapse-indicator"><i class="fa fa-angle-right"></i></span>
    </button>
  </td>
  <td class="font-weight-bold">
    <i class="fa fa-user-tag mr-2"></i>Tags

    <% unless local_assigns.dig(:collapsed).to_bool %>
      <span class="badge badge-warning">Filters Applied</span>
    <% end %>
  </td>
</tr>

<tr class="row-details bg-light collapse" id="search_tags">
  <td colspan="2" class="ml-0 mr-0 search_td">
    <!-- include tags -->
    <%= bootstrap_switch_field(
          field:      'data[all_tags]',
          value:      @user_setting.data.dig(:all_tags).to_i == 1,
          values:     [1, 0],
          row:        { columns: [6, 6] },
          col:        { class: 'mb-0' },
          form_group: { class: 'mb-0 pb-1' },
          label:      { class: 'mb-0', title: 'Included', checked: 'All', unchecked: 'Any' },
          messages:   { note: 'Tags' }
        ) %>
    <%= bootstrap_select_tag(
          field:        'data[tags_include]',
          row:          { columns: [0, 12] },
          col:          { class: 'mb-0' },
          form_group:   { class: 'mb-0' },
          label:        { class: 'mb-0' },
          html_options: { id: 'tag-menu-include', multiple: true },
          options:      { for_select: options_for_tag(presenter.client, (@user_setting.data.dig(:tags_include) || []), [], false) }
        ) %>
    <%= bootstrap_select_tag(
          field:        'data[contacttag_created_at_dynamic]',
          row:          { class: 'mb-1', columns: [0, 12] },
          col:          { class: 'mb-0' },
          form_group:   { class: 'mb-0' },
          label:        { class: 'mb-0', title: 'Date Applied' },
          html_options: { id: 'contacttag_created_at_dynamic' },
          options:      { array: options_for_dynamic_dates(@user_setting.data.dig(:contacttag_created_at_dynamic).to_s), blank: 'Select a Time Period' }
        ) %>
    <%= bootstrap_calendar_field(
          field:        'data[contacttag_created_at]',
          value:        presenter.user_setting_contacttag_created_at_string,
          row:          { id: 'contacttag_created_at_row', display: !@user_setting.data.dig(:contacttag_created_at_dynamic).to_s.empty?, columns: [0, 12] },
          col:          { class: 'mb-0' },
          form_group:   { class: 'mb-0' },
          label:        { class: 'mb-0' },
          html_options: { id: 'contacttag_created_at', placeholder: 'Custom Time Period' },
          flatpickr:    { include_time: true, mode: 'range' }
        ) %>

    <!-- exclude tags -->
    <%= bootstrap_select_tag(
          field:        'data[tags_exclude]',
          row:          { columns: [0, 12] },
          col:          { class: 'mb-0' },
          form_group:   { class: 'mb-0' },
          label:        { class: 'mb-0', title: 'Excluded' },
          html_options: { id: 'tag-menu-exclude', multiple: true },
          options:      { for_select: options_for_tag(presenter.client, (@user_setting.data.dig(:tags_exclude) || []), [], false) }
        ) %>
  </td>
</tr>

<script>
  $(function () {
    $('#contacttag_created_at_dynamic').on('change', function() {

      if ($('#contacttag_created_at_dynamic').val() == '') {
        $('#contacttag_created_at_row').show();
      } else {
        $('#contacttag_created_at').val('');
        $('#contacttag_created_at_row').hide();
      }
    });
  });
</script>
