<%
  # app/views/clients/analytics/comparison/_new_clients_leads.html.erb
  #
  # Example:
  #   render partial: 'clients/analytics/comparison/new_clients_leads', locals: { month: Integer, year: Integer}
  #
  # Required Instance Variables:
  #   none
  #
  # Required Local Variables:
  #   month: (Integer)
  #   year:  (Integer)
  #
  month = (local_assigns.dig(:month) || Time.current.month).to_i
  year  = (local_assigns.dig(:year) || Time.current.year).to_i

  analytics_presenter = ClientAnalyticsPresenter.new(current_user, month, year)
-%>
<%= render partial: 'layouts/shared/section_header', locals: {
      heading: '<i class="fa fa-chart-line"></i> New Leads vs. New Clients <small>(comparison)</small>',
      options: ''
    } %>
<div class="container-body">
  <h4>Ending <%= analytics_presenter.month_name -%>, <%= analytics_presenter.year -%></h4>

  <%= line_chart [analytics_presenter.new_leads_graph_data, analytics_presenter.new_clients_graph_data],
                 legend:    'bottom',
                 thousands: ',',
                 colors:    ['#008000', '#0000FF'],
                 messages:  { empty: 'No data' },
                 library:   {
                   scales: {
                     yAxes: [
                       {
                         id:        'new_leads',
                         display:   true,
                         type:      'linear',
                         position:  'left',
                         gridLines: { display: true },
                         ticks:     {}
                       },
                       {
                         id:        'new_clients',
                         type:      'linear',
                         position:  'right',
                         gridLines: { display: false },
                         ticks:     {
                           suggestedMin: 1,
                           suggestedMax: 150
                         }
                       }
                     ]
                   }
                 } %>

  <%= render partial: 'clients/analytics/chart_type_switch', locals: { chart_type: 'comparison', chart_name: 'new_clients_leads' } %>
</div>
