<%
  # app/views/integrations/facebook/pages/_index_users.html.erb
  #
  # Example:
  #   render partial: 'integrations/facebook/pages/index_users', locals: { user_id: String }
  #
  # Instance Variables:
  #   (req) @user_api_integration: (UserApiIntegration)
  #   (req) @fb_user_id:           (String)
  #
  # Local Variables:
  #   (opt) presenter: (Integrations::Facebook::Presenter)
  #
  return if @fb_user_id.blank? || @user_api_integration.blank? || !@user_api_integration.is_a?(UserApiIntegration)

  presenter = Integrations::Facebook::Presenter.new(user_api_integration: @user_api_integration) if local_assigns.dig(:presenter).blank?
-%>
<div id="pages_accordion" class="card-expansion">

  <% presenter.user_api_integration.pages.map(&:deep_symbolize_keys).find_all { |p| p[:user_id] == @fb_user_id.to_s }.sort_by { |p| p[:name] }.each do |fb_page| %>
    <div class="card card-expansion-item">
      <div class="card-header border-0" id="page_header_id_<%= fb_page[:id] %>">
        <button class="btn btn-reset collapsed prevent-default" data-toggle="collapse" data-target="#fb_page_id_<%= fb_page[:id] %>" aria-expanded="false" aria-controls="fb_page_id_<%= fb_page[:id] %>">
          <span class="collapse-indicator mr-2"><i class="fa fa-fw fa-caret-right"></i></span>
          <span>Facebook Page: <%= fb_page[:name] -%></span>
        </button>
      </div>
      <div class="card-body collapse user_pages p-3" id="fb_page_id_<%= fb_page[:id] %>" aria-labelledby="page_header_id_<%= fb_page[:id] %>" data-parent="#pages_accordion" data-fbpageid="<%= fb_page[:id] %>">
        <div class="mt-3 text-center" id="fb_page_id_<%= fb_page[:id] %>_spinner">
          <div><%= image_tag "tenant/#{I18n.t('tenant.id')}/logo.svg", class: 'spinning-logo' %></div>
          <div class="ml-3 pb-3">Loading Facebook Pages...</div>
        </div>
        <div id="fb_page_id_<%= fb_page[:id] %>_pages"></div>
      </div>
    </div>
  <% end %>

</div>

<script>
  $(function () {
    $('.nav-link').removeClass('active');
    $('#link_pages').addClass('active');
    $('#breadcrumb').show();

    $(document).off('show.bs.collapse', '.user_pages');
    $(document).on('show.bs.collapse', '.user_pages', function (e) {
      var fb_page_id = $(this).data('fbpageid');

      $('#fb_page_id_' + fb_page_id + '_spinner').show();
      $('#fb_page_id_' + fb_page_id + '_pages').hide();

      if ($(this).is(e.target)) {
        $.ajax({
          method: 'GET',
          dataType: 'turbo_stream',
          accepts: {
            'turbo_stream': 'text/vnd.turbo-stream.html'
          },
          converters: {
            'text turbo_stream': function (data) {
              Turbo.renderStreamMessage(data);
            }
          },
          url: '/integrations/facebook/pages/' + fb_page_id + '/page'
        });
      }
    });
  });
</script>
