<%
  # app/views/integrations/sendjim/v3/import_contacts/_show.html.erb
  #
  # Example:
  #   render partial: 'integrations/sendjim/v3/import_contacts/show', locals: { presenter: Presenter }
  #
  # Instance Variables:
  #   (req) @client_api_integration: (ClientApiIntegration)
  #
  # Local Variables:
  #   (opt) presenter: (Presenter)
  #
  presenter = local_assigns.dig(:presenter) || Integrations::Sendjim::V3::Presenter.new(client_api_integration: @client_api_integration)
  contact_imports_remaining = presenter.contact_imports_remaining(current_user.id)
-%>
<div class="card card-fluid card-margins-mobile">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <h6 class="mr-auto my-auto">Import Contacts from SendJim</h6>

      <span class="text-muted" id="contact_imports_remaining"><%= contact_imports_remaining -%></span>
    </div>
  </div>
  <div class="card-body">
    <p>Import your SendJim contacts into <%= I18n.t('tenant.name') -%>.</p>

    <%= form_with url: integrations_sendjim_v3_import_contacts_path, builder: LooperFormBuilder, remote: true, method: :put, class: 'needs-validation', novalidate: true do |f| %>

      <%= f.radio_button :new_contacts_only, {
            label:   { title: "Add/Update #{I18n.t('tenant.name')} Contacts" },
            buttons: [
              { label: 'Only Add New Contacts from SendJim', value: 'true', id: 'add_only_radio_button', checked: true },
              { label: 'Add New and Update Existing Contacts from SendJim', value: 'false', id: 'add_update_radio_button', checked: false }
            ]
          } %>

      <%= f.submit_buttons buttons: [{ title: 'Import Contacts', id: 'import_contacts_button', disable_with: 'Preparing to Import Contacts', disabled: contact_imports_remaining.present? }] %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready( function() {
    $('.nav-link').removeClass('active');
    $('#link_import_contacts').addClass('active');
    $('#breadcrumb').show();
  });
</script>
