<%
# app/views/layouts/devise.html.erb
-%>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <%= render partial: 'layouts/common/meta_tags' %>
    <%= render partial: 'layouts/common/open_graph' %>

    <title><%= I18n.t('tenant.name') -%> - Who will you meet today?</title>

    <%= render partial: 'layouts/common/tag_manager_head' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- favicons -->
    <%= favicon_link_tag "tenant/#{I18n.t('tenant.id')}/favicon-57.png", rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag "tenant/#{I18n.t('tenant.id')}/favicon.ico", rel: 'shortcut icon' %>
    <meta name="theme-color" content="#3063A0">

    <!-- stylesheets & javascript -->
    <%= stylesheet_link_tag "application_#{cookies[:skin] || 'default'}", media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- FirstPromoter -->
    <script type="text/javascript">
      (function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://cdn.firstpromoter.com/fprom.js',t.onload=t.onreadystatechange=function(){var t=this.readyState;if(!t||"complete"==t||"loaded"==t)try{$FPROM.init("fvtbps6d",".<%= I18n.t('tenant.domain') -%>")}catch(t){}};var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)})();
    </script>

    <!-- SiteChat iFrame -->
    <% if ENV["#{I18n.t('tenant.id')}_sitechat_key"].present? %>
      <script src="<%= send("api_#{ENV.fetch("#{I18n.t('tenant.id')}_sitechat_version", nil)}_clients_sitechat_url", ENV.fetch("#{I18n.t('tenant.id')}_sitechat_key", nil)) -%>"></script>
    <% end %>
  </head>
  <body data-turbo-prefetch="false">
    <%= render partial: 'layouts/common/tag_manager_body' %>

    <main class="auth">

      <%= yield %>

      <footer class="auth-footer text-center" style="position:absolute;bottom:0;">
        <div class="small text-dark">
          Having trouble? <%= mail_to 'support@chiirp.com', 'Email Support' %> or text 801-753-9312
        </div>

        <%= link_to 'Chiirp.com', "https://#{I18n.t("tenant.#{Rails.env}.sales_host")}/", class: 'small text-decoration-none text-dark' %>
        &bull;
        <%= link_to 'Terms', "https://#{I18n.t("tenant.#{Rails.env}.sales_host")}/terms-of-service/", class: 'small text-decoration-none text-dark' %>
        &bull;
        <%= link_to 'Privacy', "https://#{I18n.t("tenant.#{Rails.env}.sales_host")}/privacy-policy/", class: 'small text-decoration-none text-dark' %>
      </footer>
    </main>

    <%= render partial: 'snippets/custom_modal', locals: { id: 'alert_modal' } %>

    <script>
      $(function () {
        <%= render partial: 'snippets/js/flash_alert', formats: [:js] %>
      });
    </script>

  </body>
</html>
